.footer {
  padding: 20px;
  text-align: center;
  background-color: #e0e0e0;
  color: #424242;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.footer p {
  margin: 0;
  color: #424242;
  font-size: 16px;
}

